<form name="appbundle_comment" method="post" id="commentForm" class="d-flex flex-row justify-content-between" data-url="{{ path('addComment', {'id' : actualite.id} ) }}">
    <div class="form-group">
        <input type="text" id="content" name="content" required="required" placeholder="Ajouter un commentaire..." class="form-control" />
    </div>

    <button role="submit" class="btn btn-primary btn-comment ml-auto">Envoyé</button>

</form>