{% extends "::layout.html.twig"  %}

{% block title %}Welcome!{% endblock %}
{% block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/naomain/css/home.css') }}">

{% endblock %}

{% block body %}

    <div class="well" id="contain">
        <h1>PAGE D'ACCUEIL</h1>
        <p><a href="{{ path('login') }}">Connexion</a></p>
        <p><a href="#">Inscription</a></p>
    </div>

{% endblock %}

{% block javascripts %}{% endblock %}

