/*Partie Gesttion des Utilisateurs*/

.imgUser {
    border-radius: 25px;
    width: 50px;
    height: 50px;
}


.users-display {
    border-radius: 25px !important;
    background: #FFFFFF;
    border: 2px solid var(--lightest-brown);
    margin-bottom: 0;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.users {
    min-height: 50px;
}

#searchUser .input-group {
    margin-bottom: 0;
}

.fa-2x {
    margin-left:  10px;
    color: var(--brown);
}

/*Partie gestion des Actualites*/

.actualites-display {
    border-radius: 25px !important;
    background: #FFFFFF;
    border: 2px solid var(--lightest-brown);
    margin-bottom: 0;
    height: 150px;
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.actualites {
    min-height: 50px;
}

.correspondPas{
    display: none;
}

