/* Variables */

:root {
    /* COULEURS */
    --purple: #6D49D1;
    --darker-purple: #53399E;

    --yellow: #FFD366;

    --pampas: #F7F3F1;

    --brown: #A89988;
    --lighter-brown: #C1B7AB;
    --lightest-brown: #DED5CD;

    --off-white: #FFFDF8;
    --egg-shell: #FFFEF9;
    --lighter-egg-shell: rgba(255, 254, 249, 0.7);

    --black: #262626;

    /* POLICES */
    --hipsterish: 'Hipsterish', "Helvetica Neue", Helvetica, Arial, sans-serif;
    --raleway: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
    --roboto: Roboto, open sans, sans-serif;
}


/* DECLARATION DES POLICES */


/* latin-ext */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    src: url(https://fonts.gstatic.com/s/roboto/v18/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin-ext */

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    src: url(https://fonts.gstatic.com/s/raleway/v12/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Hipsterish';
    src: local('HipsterishFontNormal.ttf'),
    url(fonts/HipsterishFontNormal.eot),
    url(fonts/HipsterishFontNormal.ttf);
}



/* TYPO */

body {
    font-family: var(--roboto);
    font-size: 14px;
    background-color: var(--off-white);
    color: var(--black);
}

h1 {
    font-family: Raleway-Extralight;
    font-size: 30px;
    color: var(--black);
    letter-spacing: normal;
    line-height: 40px;
    text-transform: uppercase;
}

h2 {
    font-family: Raleway-Light;
    font-size: 24px;
    color: var(--black);
    letter-spacing: 2px;
    line-height: 28px;
    text-transform: uppercase;
}

h3,
h3>a {
    font-family: Raleway-Regular;
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--black);
}

h4 {
    font-family: Raleway-Medium;
    font-size: 16px;
    letter-spacing: 2.5px;
    line-height: 19px;
    text-transform: none;
}

h6 {
    font-family: var(--roboto);
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 19px;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 22px;
}

span {
    font-size: 10px;
    line-height: 16px;
}

a {
    color: var(--purple);
}

a,
a:hover {
    outline: none;
    text-decoration: none;
}

@media (min-width: 576px) {
    h1 {
        font-size: 60px;
        line-height: 70px;
    }
    h2 {
        font-size: 36px;
        line-height: 39px;
    }
    span {
        font-size: 12px;
    }
}



/* BOOTSTRAP CUSTOM */

.rounded {
    border-radius: 25px !important;
}

.card {
    border: none;
}

.nav-item {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 12px;
    letter-spacing: 1px;
    display: inline-block;
}

.alert {
  border-radius: 50px;
  margin-bottom: 30px;
  text-align: center;
}

/* BOUTONS */

.btn {
    padding: 14px 24px;
    border: 0 none;
    border-radius: 50px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}
.btn {
    padding: 14px 24px;
    border: 0 none;
    border-radius: 50px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}
.btn-primary {
    background: var(--purple);
    height: 48px;
}

.btn-outline {
    border: 2px solid var(--purple);
    color: var(--purple);
    background: transparent;
    height: 48px;
    line-height: normal;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    background: var(--darker-purple);
}

.btn-social {
    margin-bottom: 30px;
    padding-left: 24px !important;
}

button:focus {
    outline: none;
}

@media (min-width: 576px) {
    .btn {
        font-size: 14px;
    }
}

/* NAVBAR */

.navbar {
    height: 45px;
    padding: 0 !important;
    background-color: var(--egg-shell) !important;
    position: relative;
    z-index: 999;
    margin-bottom: -30px;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-wrap {
    height: calc(100vh - 135px);
    position: relative;
    z-index: 999;
}

.navbar-logo {
    margin-top: -65px;
    height: 60px;
}

.navbar-brand {
    font-size: 32px;
    line-height: 36px;
    font-family: var(--hipsterish);
    position: relative;
    z-index: 1000;
    margin-right: 0;
}

.navbar .btn {
    line-height: inherit;
    width: 120px;
    font-size: 12px;
    padding: 7px 12px;
    height: 36px;
}

.navbar .btn-primary {
    padding-top: 9px;
}

.navbar-brand {
    font-size: 36px;
    line-height: 36px;
    padding-top: 5px;
    padding-bottom: 0px;
}

.navbar-toggler {
    border: none !important;
    font-size: 30px;
}

.navbar-light .navbar-toggler {
    border-color: transparent !important;
}

.navbar-nav .nav-link {
    padding: 0.5rem 0.5rem;
}

.navbar-svg {
    position: relative;
    z-index: 998;
    margin-top: -10px;
}

.navbar-svg svg {
    height: 60px;
}

#navbarSupportedContent {
    background: var(--egg-shell);
}

.flipped {
    margin-top: -2px;
}

.visible-svg {
    display: flex !important;
}

.hidden-svg {
    display: none !important;
}

@media (min-width: 992px) {
    #navbarSupportedContent {
        background: transparent;
    }
    .navbar-nav .nav-link {
        padding: 0.2rem 0.5rem;
    }
    .navbar-logo {
        margin-top: -90px;
        height: 90px;
    }
    .navbar {
        padding: 0 30px;
        margin-bottom: 0;
        height: 67px;
    }
    .navbar-svg {
        margin-top: 5px;
    }
    .navbar-svg svg {
        height: 80px;
    }
    .nav-wrap {
        height: auto;
    }
    .navbar-brand {
        font-size: 40px;
        line-height: 46px;
        padding-top: 15px;
    }
    .straight {
        display: flex !important;
    }
    .flipped {
        display: none !important;
    }
}


/* BANNIERE DE TITRE DE PAGE */

.heading-page {
    background-color: var(--pampas);
    min-height: 200px;
    padding-top: 100px;
    padding-bottom: 5px;
    position: relative;
    z-index: 997;
}

.heading-page p {
    margin-bottom: 5px;
}

.heading-page a {
    color: var(--black) !important;
}

.wave-svg {
    position: relative;
    z-index: 996;
}


/* FOOTER */

#footer {
    margin-top: 70px;
}

#footerNewsletter {
    background: var(--lighter-brown);
    margin-top: -10px;
    margin-bottom: -10px;
}

#footerLinks {
    background: var(--darker-purple);
    min-height: 400px;
    color: var(--lighter-egg-shell);
}

#footer-title {
    color: var(--lighter-egg-shell);
    font-size: 60px;
    line-height: 70px;
    font-family: var(--hipsterish);
}

@media (min-width: 992px) {
    #footer-title {
        font-size: 80px;
        line-height: 90px;
    }
    .heading-page {
        /*min-height: 200px;*/
        padding-top: 170px;
    }
}

#footerLinks li>a {
    font-size: 14px;
    text-transform: none;
    color: var(--lighter-egg-shell);
}

#footerLinks li>a:hover {
    color: var(--egg-shell);
    transition: all 0.3s ease;
}

#souscrire {
    text-transform: uppercase;
}



/* HEADING SECTION */

.heading {
    text-align: center;
    position: relative;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 60px;
}

.heading span {
    font-family: Raleway-Regular;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 17px;
    text-transform: uppercase;
}

.heading::after {
    content: '';
    width: 16px;
    height: 1px;
    background-color: var(--black);
    position: absolute;
    left: -webkit-calc(50% - 8px);
    left: calc(50% - 8px);
    bottom: 0;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* FORMULAIRE */

input,
select {
    height: 48px !important;
    border-radius: 50px !important;
    padding-left: 30px !important;
}

input:focus,
textarea:focus,
select:focus {
    box-shadow: none !important;
}

input[placeholder],
select[placeholder],
[placeholder],
*[placeholder] {
    padding-left: 30px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

textarea {
    resize: none;
    border-radius: 25px !important;
    padding-left: 30px !important;
}

textarea[placeholder] {
    padding: 15px 30px;
    margin: 0;
    border-radius: 25px !important;
}

label {
    position: absolute;
    display: none;
    margin-top: -11px;
    margin-left: 30px;
    background: var(--off-white);
    height: 11px;
    padding: 0 5px !important;
    color: #a9a9a9;
}

.input-group-icon {
    color: var(--lighter-egg-shell);
}

.fa-envelope {
    padding-top: 10px;
}

.fa-search {
    padding-top: 10px;
}

.input-group,
.form-group {
    border-radius: 25px !important;
    background: white;
    border: 2px solid var(--lightest-brown);
    margin-bottom: 30px;
    min-height: 52px;
}

.input-group-addon {
    width: 36px;
    height: 36px;
    background: var(--purple);
    border-radius: 25px !important;
    margin-right: 6px;
}

.input-group-addon:hover {
    background-color: var(--darker-purple);
    transition: all 0.3s ease;
}

.form-control {
    background: none;
    border: none;
    padding: 0;
    font-size: 14px;
}

.form-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.comment-avatar {
    height: 36px;
    width: 36px;
    object-fit: cover;
}

/*Ajouté par Guillaume pour oiseaux.html.twig*/
.user-avatar {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.scrollToTop {
    position: fixed;
    bottom: 12px;
    right: 12px;
    width: 48px;
    height: 48px;
    background: var(--pampas);
    color: var(--purple);
    opacity: 0.5;
    border-radius: 50%;
    text-align: center;
    display: none;
    text-decoration: none;
}

.scrollToTop:hover,
.scrollToTop:visited,
.scrollToTop::selection {
    text-decoration: none;
    color: var(--purple);
    transition: all 0.3s ease;
}

@media (min-width: 576px) {
    .scrollToTop {
        bottom: 30px;
        right: 30px;
    }
}


/* MES OBSERVATIONS */

.nao-card {
    background: var(--pampas);
    border-radius: 25px;
    color: var(--black);
}

.nao-card:hover {
    background: var(--lightest-brown);
    transform: scale(1.02);
    transition: all 0.3s ease;

}


.bird-img {
    height: 100%;
    width: 100%;
    border-radius: 23px;
    object-fit: cover;
}

.bird-img-wrapper {
    width: 100px;
    height: 100px;
}

@media (min-width: 576px) {
    .bird-img-wrapper {
        width: 150px;
        height: 150px;
    }
}

.fa-heart {
    margin-top: 2px;
    color: var(--purple);
}

.fa-heart:hover {
    color: var(--darker-purple);
    transition: all 0.3s ease;
}

.heart-text {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(1.05);
    }   
    100% {
        transform: scale(0.95);
    }           
}

.nao-card .heart-text {
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 12px !important;
    margin: 0;
    color: var(--pampas);
    text-align: center;
    padding: 0 0 0 4px;
    font-family: var(--roboto) !important;
}
.modal span.fa-stack {
    position: absolute;
    z-index: 1000;
    font-size: 24px;
    right: 12px;
    top: 6px;
    background: rgba(255, 254, 249, 0.5);
    border-radius: 50px;
    height: 60px;
    width: 60px;
    padding: 8px;
}

.fa-stack:hover {
    
    animation-name: pulse;
    -webkit-animation-name: pulse;  
    animation-duration: 1.5s;   
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.modal .heart-text {
    margin-top: 0;
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 18px !important;
    margin: auto;
    color: var(--pampas);
    text-align: center;
    font-family: var(--roboto) !important;
}

.social-modal {
    position: absolute;
    bottom: 12px;
}

.social-modal i{
    color: var(--purple);
}

@media (min-width: 1400px) {
    .col-xxl-5 {
        flex: 0 0 38.6667% !important;
        max-width: 38.6667% !important;
    }
    .col-xxl-10 {
        flex: 0 0 77.3334% !important;
        max-width: 77.3334% !important;
    }
}


/* Spé pour les écrans très petits */

@media (max-width: 575px) {
    .nao-card {
        max-height: 116px;
    }
    .nao-card p.text-muted,
    .nao-card h3 {
        margin-bottom: 0;
    }
    .fa-stack {
        width: 24Px;
        height: 24px;
        padding-right: 15px;
    }
    .fa-stack .fa-heart {
        font-size: 24px;
    }
    .heart-text {
        font-size: 10px !important;
        line-height: 12px;
        padding: 0 0 0 7px;
        margin-bottom: 2px;
    }
    .nao-card h3,
    .nao-card h3>a {
        font-family: Raleway-Regular;
        font-size: 14px;
        color: var(--black);
        letter-spacing: 1.5px;
        line-height: 16px;
        text-transform: uppercase;
    }
    p {
        font-size: 12px;
        line-height: 18px;
    }
}


/* MODAL OBSERVATION */
.modal {
    padding : 10px 10px !important;
}
.close-wrap {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background: var(--purple);
}

.close-button {
    font-size: 30px;
    color: var(--egg-shell);
    background: none;
    border: none;
    outline: none;
}

.close-button:focus,
.close-button::selection,
.close-button:hover,
.close-button:visited,
.close-button:active {
    outline: none;
}

.bird-modal {
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0)!important;
    background-color: none;
}

.modal-footer {
    border-top: none;
    background-color: var(--pampas);
}

.observation-avatar {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    object-fit: cover;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: inherit;
    }
    .modal {
        padding : 30px 30px !important;
    }
    .bird-modal {
        width: 80%;
    }
}

.user-name {
    font-weight: 700;
}

.comm p,
.comm span {
    line-height: 16px;
}

.time {
    color: #87888C;
}



/* MODAL ALERTE */

.modal-alert .fa {
    color: var(--purple);
}


/* COMMENTS */
.imgComment {
    border-radius: 25px;
    height: 40px;
}

.social-comment {
    color: var(--purple);
}

.comm-display {
    border-radius: 25px !important;
    background: #FFFFFF;
    border: 2px solid var(--lightest-brown);
    margin-bottom: 0;
    height: 200px;
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.form-group ::-webkit-scrollbar,
.comm-display::-webkit-scrollbar {
    width: 32px;
    height: 18px;
    -webkit-border-radius: 25px;
    background-color: #F5F5F5;
    background-clip: padding-box;
    border: 10px solid rgba(0, 0, 0, 0);
}

.form-group ::-webkit-scrollbar-thumb,
.comm-display::-webkit-scrollbar-thumb {
    height: 50px;
    border: 10px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 25px;
    background-color: var(--purple);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

.form-group ::-webkit-scrollbar-button,
.comm-display::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

#addComment .input-group {
    margin-bottom: 0;
}

#addComment .input-group-icon {
    margin-left: -3px;
}


#appbundle_observation_imageFile label {
    cursor: pointer;
    color: #00b1ca;
    font-weight: bold;
}

.label-image {
    background-image: url("../img/awards.jpg");
}

/* GOOGLE MAP */
#map{
    border-radius: 25px;
    height: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


