
.banner {
  background: linear-gradient(-225deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.5) 50%), url("../img/elements/bg_oiseau.jpg");
  color: white;
  text-align: center;
  height: 105vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -80px;
}

#explication {
    background-color: var(--egg-shell);
    padding: 60px 0 60px 0;
    margin-top: -10px;
}

#explication .media img {
    max-height: 200px;
    max-width: 300px;
}

#hiboux_trop_choux {
    border-radius: 25px;
    width: 100%;
}

#pourquoi {
    background-color: var(--pampas);
    padding: 60px 0 200px 0;
    margin-bottom: -200px;
    margin-top: -10px;
}

.home-heading {
    margin-bottom: 50px;
}
.home-title {
  color: var(--egg-shell);
  font-size: 40px;
  line-height: 50px;
  font-family: var(--hipsterish);
}

@media (min-width: 576px) {
  .banner {
    margin-bottom: -140px;
  }
  .home-title {
    font-size: 60px;
    line-height: 70px;
  }
}
@media (min-width: 768px) {
  .home-heading {
    margin-bottom: 160px;
  }
  .home-title {
    font-size: 80px;
    line-height: 90px;
  }
}

.home-baseline {
    font-family: var(--roboto);
    color: var(--egg-shell);
    font-size: 12px;
    text-transform: uppercase;
}
