.bird-observation-display {
    position: relative;
    background: none;
    margin-bottom: 30px;
    height: 300px;
    max-height: none;
    overflow-y: scroll;
    overflow-x: hidden;
    border: none;
}
@media (min-width: 992px) {
    .bird-observation-display {
        height: 408px;
    }
}
input#appbundle_observation_imageFile_file {
    display: inline-block;
    width: 100%;
    padding: 130px 0 0 0;
	min-height: 100px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('../img/elements/addBirdImage.png') center center no-repeat;
    border-radius: 25px;
    background-size: 90px;
    height: 130px !important;
}

#appbundle_observation_imageFile .form-group {
    border-radius: 25px !important;
    background: none;
    border: none;
    margin-bottom: 0;
    min-height: 0;
}