
.profilePicture {
    border-radius: 25px;
    height: 70px;
}

.imgComment {
    border-radius: 25px;
    height: 40px;
}

.comments {
    margin-top: 20px;
    height: 200px;
    overflow: scroll;
    border: 2px solid #dbd6d0;
    border-radius: 25px;
}

.social-comment {
    color: #6d49d1;
}

.comm-display {
    border-radius: 25px !important;
    background: #FFFFFF;
    border: 2px solid #DED5CD;
    margin-bottom: 0;
    height: 200px;
    max-height: 350px;
    overflow: scroll;
}
.comm {
    min-height: 50px;
}
.comm span {
    color: #87888C ;
    font-size: 12px;
}
