.card {
	border: 2px solid var(--lightest-brown);
    border-radius: 25px;
    background: #FFFFFF;
    margin: 0 15px 30px 15px;
}

.card-img-top{
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    max-height: 100px;
    object-fit: cover
}
