.card {
	border: 2px solid #DED5CD;
    border-radius: 25px;
    background: #FFFFFF;
}

.card-img-top{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    max-height: 100px;
    object-fit: cover
}
