body
{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #ffffff;
    color: #46484a;
}

/*----------------
------------------
------HEADER------
------------------
------------------*/

header
{

}

.navbar-trans {
    background: transparent; }

a.navbar-brand, a.logo {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff !important;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0; }

a.logo:hover, a.logo:active, a.logo:focus {
    text-decoration: none; }

li.nav-item .btn {
    margin-top: .2rem;
    margin-left: .4rem; }
li.nav-item .btn-black {
    color: #46484a; }

a
{
    color: #564747;
}



#footer
{
    background-color: #a5a5a5;
}
