/* Variables */
:root {
  --purple: #6D49D1;
  --darker-purple: #53399E;

  --yellow:#FFD366;

  --pampas: #F7F3F1;

  --brown: #A89988;
  --lighter-brown: #C1B7AB;
  --lightest-brown: #DED5CD;

  --off-white: #FFFDF8;
  --egg-shell: #FFFEF9;
  --lighter-egg-shell: rgba(255, 254, 249, 0.7);

  --black: #262626;

  --hipsterish: 'Hipsterish', "Helvetica Neue", Helvetica, Arial, sans-serif;
  --raleway: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
  --roboto: Roboto, open-sans, sans-serif;
}

/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    src: url(https://fonts.gstatic.com/s/roboto/v18/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin-ext */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    src: url(https://fonts.gstatic.com/s/raleway/v12/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Hipsterish';
    src: local('HipsterishFontNormal.ttf'),
          url(fonts/HipsterishFontNormal.eot),
          url(fonts/HipsterishFontNormal.ttf);
}

body {
    font-family: var(--roboto);
    font-size: 14px;
    background-color: var(--off-white);
    color: var(--black);
}

/*----------------
------------------
------Custumization de BOOTSTRAp------
------------------
------------------*/

.rounded {
  border-radius: 25px !important;
}

.card {
    border: none;
}

.nav-item {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 17px;
    letter-spacing: 1px;
    display: inline-block;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    border-radius: 50px;
    color: white;
    text-transform: uppercase;
}

.btn-primary {
    background: var(--purple);
}

.btn-outline {
    border: 2px solid var(--purple);
    color: var(--purple);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: var(--darker-purple);
}

/*----------------
------------------
------HEADER------
------------------
------------------*/
.navbar {
    height: 50px;
    padding: 0 30px !important;
    background: var(--var(--egg-shell));
    position: relative;
    z-index: 999;
    margin-bottom: -30px;
}

.navbar-logo {
    margin-top: -90px;
    height: 90px;
}

.navbar-brand {
  font-size: 32px;
  line-height: 36px;
  font-family: var(--hipsterish);
  position: relative;
  z-index: 1000;
}

@media (min-width: 768px) {
  .navbar-brand {
    font-size: 40px;
    line-height: 46px;
    padding-top: 15px;
  }
}

.navbar .btn{
  font-size: 12px;
  padding: 7px 12px;
}

.navbar-svg {
  position: relative;
  z-index: 998;
}

@media (min-width: 768px){
  .navbar {
    margin-bottom: 0;
  }
}

.heading-page {
    background-color: var(--pampas);
    height: 200px;
    margin-top: -80px;
    padding-top: 100px;
    position: relative;
    z-index: 997;
}

.wave-svg {
  position: relative;
  z-index: 996;
}

/*----------------
------------------
------FOOTER------
------------------
------------------*/
#footer {
    margin-top: 70px;
}

#footerNewsletter {
    background: var(--lighter-brown);
}

#footerLinks {
    background: var(--darker-purple);
    min-height: 400px;
    color: var(--lighter-egg-shell);
}

#footer-title {
  color: var(--lighter-egg-shell);
  font-size: 60px;
  line-height: 70px;
  font-family: var(--hipsterish);
}

@media (min-width: 768px) {
  #footer-title {
    font-size: 80px;
    line-height: 90px;
  }
}

#footerLinks li>a {
    font-size: 14px;
    text-transform: none;
    color: var(--lighter-egg-shell);
}

#souscrire {
    text-transform: uppercase;
}

/* Typo */
h1 {
  font-family: Raleway-Extralight;
  font-size: 36px;
  color: var(--black);
  letter-spacing: auto;
  line-height: 40px;
  text-transform: uppercase;
}

h2 {
  font-family: Raleway-Light;
  font-size: 24px;
  color: var(--black);
  letter-spacing: 2px;
  line-height: 28px;
  text-transform: uppercase;
}

h3, h3 > a {
  font-family: Raleway-Regular;
  font-size: 18px;
  letter-spacing: 3px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--black);
}

h4 {
  font-family: Raleway-Medium;
  font-size: 16px;
  letter-spacing: 2.5px;
  line-height: 19px;
  text-transform: none;
}

h6 {
  font-family: var(--roboto);
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 19px;
  text-transform: uppercase;
}

p, span {
  font-size: 14px ;
  line-height: 22px;
}

a {
  color: var(--purple);
}

@media (min-width: 576px) {
  h1 {
    font-size: 60px;
    line-height: 70px;
  }
  h2 {
    font-size: 36px;
    line-height: 39px;
  }
}

.heading span { 
  font-family: Raleway-Regular;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 17px;
  text-transform: uppercase;
}


/* HEADING SECTION */
.heading {
  text-align: center;
  position: relative;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 60px;
}

.heading::after {
    content: '';
    width: 16px;
    height: 1px;
    background-color: var(--black);
    position: absolute;
    left: -webkit-calc(50% - 8px);
    left: calc(50% - 8px);
    bottom: 0;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* FORMULAIRE */
input {
    height: 48px;
    border-radius: 50px !important;
}

input[placeholder], [placeholder], *[placeholder], textarea[placeholder] {
    margin-left: 30px;
}

textarea {
  resize: none;
  border-radius: 50px !important;
}

textarea[placeholder] {
    padding: 15px 12px;
}

.input-group-icon {
    color: var(--lighter-egg-shell);
    margin: -1px;
}

.input-group, .form-group {
    border-radius: 25px !important;
    background: white;
    border: 2px solid var(--lightest-brown);
    margin-bottom: 30px;
}

.input-group-addon {
    width: 36px;
    height: 36px;
    background: var(--purple);
    border-radius: 25px !important;
    margin-right: 6px;
}

.form-control {
  background: none;
  border: none;
}

.form-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  width: 100%;
}

.btn-social {
  margin-bottom: 30px;
  padding-left: 24px !important;
}

.comment-avatar {
  height : 36px;
  width: 36px;
  object-fit: cover;
}
