body
{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #fffef9;
    color: #46484a;
}

/*----------------
------------------
------HEADER------
------------------
------------------*/

a.navbar-brand, a.logo {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #46484a !important;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0; }

a.logo:hover, a.logo:active, a.logo:focus {
    text-decoration: none; }

li.nav-item .btn {
    margin-top: .2rem;
    margin-left: .4rem; }
li.nav-item .btn-black {
    color: #6E6E6E; }
.btn-outline {
    border-color: #6E6E6E;
    margin-left:5px ;
}
a
{
    color: #564747;
}



#footer
{
    background-color: #a5a5a5;
}
