
.banner {
  background: linear-gradient(-225deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.5) 50%), url("../img/bg_oiseau.jpg");
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -200px;
  margin-top: -80px;
}

#explication {
    background-color: #FFFEF9;
    padding: 60px 0 60px 0;
}

#explication .media {
    margin: 30px;
}

#explication .media img {
    max-height: 200px;
    max-width: 300px;
}

#hiboux_trop_choux {
    border-radius: 25px;
    width: 100%;
}

#pourquoi {
    background-color: #F7F3F1;
    padding: 60px 0 200px 0;
    margin-bottom: -200px;
}

.home-heading {
    margin-bottom: 160px;
}
.home-title {
    color: #FFFEF9;
    font-size: 60px;
}
.home-baseline {
    font-family: "Roboto", Arial, sans-serif;
    color: #FFFEF9;
    font-size: 12px;
    text-transform: uppercase;
}
