img.separateur
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profileImg
{
    border-radius: 50%;
}

#titlePicture{
    background: url("../img/profile_birds.jpg") no-repeat center;
    background-size: cover;
    height: 200px;
}

.observationPicture{
    height: 10em;
    border-radius: 25px;
}

.observation{
    background: #f7f3f0;
    border-radius: 25px;
}
.birdImage{
    width: 200px;
    border-radius: 25px;
}

.observationModalSection{
    background-color: #C9C9C9;
}


.waitingObservationModal{
    position: absolute;
    width: 80%;
    left:50%;
    transform: translate(-50%,0)!important;
    background-color: #5eb5e0;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: inherit;
    }
}
