
#profileImg {
    height: 170px;
    width: 170px;
}

#userTab {

}

.nav-tabs {
    border: none;
    background: var(--purple);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 130px;
    margin-top: -80px;
    position: relative;
    z-index: 995;
}

.nav-tabs .nav-item{
    padding: 0;
}

.nav-tabs .nav-link {
    padding: 0;
    color: var(--lighter-egg-shell);
    position: relative;
    border: none;
    height: 130px;
}

.nav-tabs .nav-link.active {
    background: var(--darker-purple);
    border: none;
    color: var(--pampas);
    margin-bottom: 1px;
}

.nav-tabs .nav-item:first-child .nav-link {
    border-bottom-left-radius: 10px;
}

.nav-tabs .nav-item:last-child .nav-link {
    border-bottom-right-radius: 10px;
}

@media (min-width: 576px){
    .nav-tabs .nav-link {
        /* CSS RESPONSIVITE ONGLETS*/
    }
}

/* RECOMPENSES */
.progress {
    background: var(--lightest-brown);
    border-radius: 25px;
    height: 25px;
}

.progress-bar {
    background: var(--purple);
    height: 25px;
    padding: 5px 0 5px 0;
}

.recompense {
    height: 100px;
    max-width: 100px;
}