img.separateur
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profileImg
{
    border-radius: 50%;
}

#titlePicture{
    background: url("../img/profile_birds.jpg") no-repeat center;
    background-size: cover;
    height: 200px;
}

.observationPicture{
    height: 10em;
    border-radius: 25px;
}

.observation{
    background: #f7f3f0;
    border-radius: 25px;
}