img.separateur
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#profilImg
{
    border-radius: 50%;
}

#titlePicture{
    background: url("../img/profile_birds.jpg") no-repeat center;
    background-size: cover;
    height: 200px;
}