{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/actualite.css') }}">
{% endblock %}

{% block body %}
<div class="container-fluid" id="headContainer">
            <h1 class="text-center pt-5 text-white">ACTUALITÉS</h1>
</div>

<div class="container bg-success" style="width: 80%">
   <div class="d-flex flex-row justify-content-between row-h1">
       <div class="card">
           <card-title>TITRE</card-title>
           <card-body>Lorem ipsum dolor sit amet, consectetur.</card-body>
       </div>
       <div class="card">
           <card-title>TITRE</card-title>
           <card-body>Lorem ipsum dolor sit amet, consectetur.</card-body>
       </div>
       <div class="card">
           <card-title>TITRE</card-title>
           <card-body>Lorem ipsum dolor sit amet, consectetur.</card-body>
       </div>
   </div>

</div>

{% endblock %}