{% extends "base.html.twig"  %}

{% block title %}Welcome!{% endblock %}
{% block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/AppBundle/css/home.css') }}">

{% endblock %}

{% block body %}

    <h1>ADMIN</h1>

{% endblock %}

{% block javascripts %}{% endblock %}

