{% extends 'base.html.twig' %}


{% block title %}Valider: Observations{% endblock %}

{% block body %}
    <h1>Ici sera afficher toute les observations faites par les utilisateurs</h1>
    <p><img src="{{ asset('bundles/main/img/in_construct.gif') }}" alt="En construction"></p>
{% endblock %}