{% extends 'base.html.twig' %}

{% block body %}

    <div class="card mx-auto mb-2" style="width: 50%">
        <img src="{{ asset('bundles/app/img/bird.gif') }}" alt="" class="card-img-top">
        <div class="card-title"><h3>Erreur:</h3></div>
        <div class="card-body">Une erreure s'est produite</div>
        <div class="card-footer"><a href="{{ path('homepage') }}"><button class="btn btn-primary">Retour</button></a></div>
    </div>


{% endblock %}