{% extends 'base.html.twig' %}

{% block body %}

    <div class="well"><h2> Votre compte vient d'être activé</h2>
        <p>Vous pouvez maintenant ajouter une <a href="{{ path('observation') }}">observation</a>ou aller sur votre <a
                    href="#">profil</a>
        </p>
    </div>

{% endblock %}